<div class="message">
	<%= image_tag message.author.avatar.url, class: 'avatar-message-size pull-left' %>
	<div class="m_author"><%= message.author.full_name %></div>
	<div class="m_body"><%= message.body %></div>
</div>
