<div id="calendar"></div>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $('#calendar').fullCalendar({
      lang: 'uk',
      header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
          today: I18n.date.today,
          month: I18n.datetime.prompts.month,
          week: I18n.datetime.prompts.week,
          day: I18n.datetime.prompts.day
      },
      events: <%= (@my_tasks + @my_events).to_json.html_safe %>,
      axisFormat: 'h(:mm) a'
    });
  <% end %>
<% end %>
