$("table.tasks").empty()
<% if @tasks.any? %>
	$("table.tasks").append(
		"<%= escape_javascript(render partial: 'search_header', locals: { tasks: @tasks }) %> \
		 <tbody> \
			<%= escape_javascript(render partial: 'search_results', locals: { tasks: @tasks }) %> \
		 </tbody>");
<% else %>
	$('table.tasks').append(
		"<div class='text-center top-paddings-fix'> \
			<%= t('tasks.no_search_result') %> \
		 </div>")
<% end %>
