<button class="btn mb5 btn-block btn-primary" data-toggle="modal" data-target="#conversation-open-<%= receiver_ids.join('-') %>">
  <span class="glyphicon glyphicon-envelope"></span>
  <%= local_assigns[:button_text] || t('messages.send') %>
</button>

<%= render partial: "conversations/new_conversation_modal", locals: {
      conversation: Conversation.new,
      sender_id: current_user.id,
      receiver_ids: receiver_ids,
      modal_title: local_assigns[:modal_title] || t('messages.new')
    } %>
