<button class="ui positive icon labeled button" id="modalSend">
  <i class="mail icon"></i>
  <%= local_assigns[:button_text] || t('messages.send') %>
</button>

<%= render partial: "conversations/new_conversation_modal", locals: {
      conversation: Conversation.new,
      receiver_ids: receiver_ids,
      modal_title: local_assigns[:modal_title] || t('messages.new')
    } %>
