<div id="modal_select_document" class="ui modal">
  <div class="header">
    <button type="ui negative button" class="close" data-dismiss="modal" area-hidden="true">&times;</button>
    <%= t('documents.select_doc') %>
  </div>

  <div class="content">
    <p><%= t('documents.docs_list') %></p>
    <div id="doc-select-jsPanel" class="select-document-panel">
        <div id="modal-docs-list">

        </div>
    </div>
  </div>

  <div class="actions">
    <button type="button" class="ui button" data-dismiss="modal"><%= t('util.cancel') %></button>
    <button type="button" id="docs-select-confirm" class="ui positive button" data-dismiss="modal"><%= t('util.add') %></button>
  </div>
</div>
