<div class="ui modal confirm_news_post_removal">
  <div class="header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <%= t('news.modal_removing_title') %>
  </div>
  <div class="content">
    <p><%= t('news.modal_removing_message') %></p>
  </div>
  <div class="actions">
    <button type="button" class="ui negative button" data-dismiss="modal"><%= t('util.cancel') %></button>
    <%= link_to t('util.destroy'), '', :method => :delete, :id => 'news_post_remove_path', :class => 'ui positive button' %>
  </div>
</div>