<div id="modal_confirm_remove_news_post" class="modal fade bs-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('news.modal_removing_title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('news.modal_removing_message') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('util.cancel') %></button>
        <%= link_to t('util.destroy'), '', :method => :delete, :id => 'news_post_remove_path', :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>