<% time_diff = Time.diff(Time.now,
  begin
    item.end_date.to_time
  rescue
    item.date.to_time
  end
  ) %>
<div class="ui red icon message" style=" font-size:11px;">
  <i class="huge fire icon" style='opacity: <%= 1 - (time_diff[:day]*24 + time_diff[:hour]) / 72.0 %> !important'></i>
  <div class="content">
    <div class="red header">
      <%= link_to item.name, eval(link << '(item.id)') %>
    </div>
    <p><%= t('util.' << link.split('_')[0] << '_expiration_time') %>:
    <time class="description">
      <span class='countdown' data-time="<%=
        begin
          item.end_date.to_formatted_s :rfc822
        rescue
          item.date.to_formatted_s :rfc822
        end %>">
      </span>
    </time>
    </p>
  </div>
</div>
