<% time_diff = Time.diff(Time.now, Time.parse(local_time_format(
  begin 
    item.end_date 
  rescue 
    item.date
  end
  )), '%M, %w, %d %h:%m:%s') %>
<div class="activity">
  <div class="glyphicon glyphicon-fire" style='opacity: <%= 1 - time_diff[:hour] / 72.0 %> !important'></div>
  <div class="body">
    <div class="title">
      <%= link_to item.name, eval(link << '(item.id)') %>
    </div>
    <time><%= t('util.expiration_time') %>: <%= t(time_diff[:diff]) %></time>
  </div>
</div>
