<div class="panel-footer text-right">
	<%= link_to current_user_edit_users_path, :class => "btn btn-warning" do %>
	    <span class='glyphicon glyphicon-pencil'></span>
	    <%= t('util.edit') %>
	<% end %>
</div>
