<div class="pull-left panel panel-primary panel-narrow mr15">
  <%= render 'info' %>
  <%= render 'options'%>
</div>

<!-- FIX: not all, but only connected to current user -->
<div class="activity-list panel-activity panel-primary">
  <%= render_activities(PublicActivity::Activity.all.order('created_at DESC')
  			.select { |a| a[:parameters][:connected_to_users].include?(current_user.id)}[0..4]) %>
  <%= link_to t('activity.all'), notifications_path, class: 'form-control no-padding btn btn-default' %>
</div>
