<div class="pull-left panel panel-primary panel-narrow mr15">
  <%= render 'info' %>
  <%= render 'options'%>
</div>

<div class='panel-activity panel-primary'>
	<% @reminder_tasks.each { |task| %>
		<%= render partial: 'notifications/reminder', locals: { item: task } %>
	<% } %>
	<% @reminder_events.each { |event| %>
		<%= render partial: 'notifications/reminder', locals: { item: event } %>
	<% } %>
</div>
