<% flash.reject{ |t, m| m =~ /(.*)[c, C]omment(.*)/ }.each do |type, message| %>
  <div class="<%= semantic_class_for(type) %> closable">
    <i class="icon close"></i>
    <%= message %>
  </div>
<% end %>
