<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "Корпоративний Портал Кафедри", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><% if can? :manage, @users %>
                <%= link_to "Користувачі", admin_users_path %>
            <% end %>
        </li>
      </ul>
      <% if user_signed_in? %>
          <p class="navbar-text navbar-right log-out-link"><%= current_user.login + ' (' %><%= link_to t('util.logout'), destroy_user_session_path, :method => :delete, class: "navbar-link" %>)</p>
      <% end %>
    </nav>
  </div>
</div>
