<div class="row">
  <div class="cal-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "Корпоративний Портал Кафедри", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Користувачі", admin_users_path %></li>
      </ul>
    </nav>
  </div>
</div>
