<nav class="ui secondary pointing menu" role="navigation">
  <%= yield :navbar %>
  <% if user_signed_in? %>
    <div class="ui dropdown item right">
      <%= current_user.login %> <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to t('users.dashboard'), dashboard_path, class: 'item' %>
        <%= link_to t('util.logout'), destroy_user_session_path, :method => :delete, class: 'item' %>
      </div>
    </div>
  <% end %>
</nav>
