<div class="pull-left">
  <div class="thumbnail">
    <%= image_tag @user.avatar.url("large"), class: 'c-user-large-avatar' %>
  </div>
  <% if @user != current_user %>
    <div id="message-send" class="text-center" data-toggle="modal" data-target="#message">
      <a class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> <%= t('messages.send') %></a>
    </div>
    <%= render partial: "shared/new_conversation", locals: { conversation: Conversation.new, sender_id: current_user.id,
    	receivers_ids: [@user.id], modal_title: t('messages.new') } %>
  <% end %>
</div>
