<%= form_for :document_type do |f| %>
<div class="ui top attached blue segment">
	<div class="ui input">
  		<%= f.text_field :title, class: 'ui input', placeholder: t('doctypes.placeholder') %>
  		</div>
    	<%= button_tag(type: 'submit', class: "ui positive mini icon button") do %>
      		<i class='plus icon'></i>
      		<%= t('doctypes.new') %>
    	<% end %>
	</div>
<%end%>