<div class='panel panel-primary panel-narrow'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      <%= t('util.edit_event') %>
    </h3>
  </div>
	<%= render partial: 'form', locals: { event: @event, val: t('util.edit_event') } %>
</div>
