$("table#events").empty()
<% if @events.any? %>
	$("table#events").append(
		"<%= escape_javascript(render partial: 'search_header', locals: { events: @events }) %> \
		 <tbody> \
			<%= escape_javascript(render partial: 'search_results', locals: { events: @events }) %> \
		 </tbody>");
<% else %>
	$('table#events').append(
		"<div class='ui info message'> \
			<%= t('events.no_search_result') %> \
		 </div>")
<% end %>

$("tr[data-link]").on("click", function(e) {
	e.preventDefault();
	window.location = this.getAttribute("data-link");
});
