<div class="panel  panel-primary">
  <div class="panel-heading docs-panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseInfo">
        <%= t('documents.information') %>
      </a>
    </h4>
  </div>
  <div id="collapseInfo" class="panel-collapse collapse">
    <div class="panel-body">

    </div>
  </div>
</div>