<h3 class="ui header"><%= doc.title %></h3>
<div class="ui form">
  <div class="field">
    <label>Owner</label>
    <div class="ui icon input">
      <i class="user icon"></i>
      <input type="text" data-placeholder="Name" value="<%= doc.owner.full_name %>">
    </div>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea><%= doc.description %></textarea>
  </div>
  <div class="ui green fluid button">Download</div>
</div>