var docInfo = $('#docInfo').sidebar({
    overlay: true
});

$('tr[data-id="file"]').on("click", function() {
	docInfo.find("[id*='doc-title+']")
	docInfo.append("<%= escape_javascript(render partial: 'info_sidebar', locals: { doc: Document.find() }) %>")
    docInfo.sidebar("toggle");
});
$("table#tasks").empty()
<% if @tasks.any? %>
	$("table#tasks").append(
		"<%= escape_javascript(render partial: 'search_header', locals: { tasks: @tasks }) %> \
		 <tbody> \
			<%= escape_javascript(render partial: 'search_results', locals: { tasks: @tasks }) %> \
		 </tbody>");
<% else %>
	$('table#tasks').append(
		"<div class='ui info message'> \
			<%= t('tasks.no_search_result') %> \
		 </div>")
<% end %>