span.editable-container.editable-inline{
  width:100%;
}

div.doctype_edit {
	border-bottom: none;
}

div div.editable-input{
  width:80%;
}
div.control-group.form-group{
  width: 60%;
}
input.form-control.inputdoctype{
  width: 100%;
}