<div class="ui piled blue segment">
  <h2 class="ui header">
    <i class="icon inverted circular blue comment"></i> <%= t('comments.discussion') %>
  </h2>
	<div id="comments" class="ui comments comments-form">
	  <% unless comments.empty? %>
	    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
	  <% else %>
	    <div id="no_comments" class='fix-in-border'><%= t 'opinio.no_comments_found', :default => "No comments found" %>
	    </div>
	  <% end %>
	</div>

