.card.extended-doc{data: {document: 'attached', id: doc.id}}    
  .content
    %i.right.floated.delete.icon{data: {aim: 'detach'}}
    - file_info = doc.file_info
    -if file_info.present?
      = link_to file_info.file.url(:original, false) do
        %i.right.floated.download.disk.icon
    -else
      - parent = doc.parent_directory
      = link_to (parent ? document_path(parent) : documents_path) do
        %i.right.floated.info.icon
    .header= doc.title.truncate(20)
    .description= doc.description.present? ? doc.description.truncate(33) : t('documents.no_description')