#addDocModal.ui.modal
  %i.close.icon
  .header
    = modal_title
  #content.content
    #searchDocForm.ui.fluid.form.segment{data: { 'search-url' => doc_search_path(format: :json) }}
      .field
        = label_tag 'query', t('documents.title')
        = text_field_tag 'query', ''
      = button_tag t('documents.pin'), id: pinBtnId, class: "ui positive button"
    #docSearchResults.ui.cards
      