.panel-activity {
  margin-left: 30px;
  overflow: auto;
  width: 100%;
}

.activity-list {
  margin: 0 auto;
  max-width: 520px;
}

.activity-list-index {
  margin: 0 auto;
  max-width: 410px
}

.activity {
  margin: 5px 0 15px 0;
  padding: 0 5px;
}

.activity time {
  float: none;
}

.activity a {
	color: #0088cc;
	text-decoration: none;
}

.activity .title {
  font-size: 14px;
  font-weight: bold;
}

.activity .avatar img {
  margin-right: 5px;
}

.activity .glyphicon {
  background-position: center center;
  background-size: 32px auto;
  background-repeat: no-repeat;
  color: #BBB;
  height: 32px;
  float: left;
  padding: 3px;
  width: 25px;
  zoom: 2.2;
}

.activity-filter {
  margin: 0 auto;
  max-width: 320px;
}

.no-activity-found {
  margin: 15px 0;
  max-width: 450px;
}

