@import "chosen";
@import "select2";
@import "jstree-themes/default/style";
@import "jscrollpane";
@import "activity";
@import "calendar";
@import "checkbox";
@import "chosen_changes";
@import "contacts";
@import "documents";
@import "events";
@import "home";
@import "message";
@import "news_posts";
@import "task";
@import "users";
@import "admin/doctypes";
@import "admin/groups";
@import "datetimepicker";
@import "semantic-ui";
@import "comments";


body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #009fda;
  text-decoration: none;
}

.sign-in-form {
  width: 350px;
  margin: 0 auto;
}

.log-out-link {
  padding-right: 9px;
}

.panel-narrow {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.table-verticle-centered > tbody > tr > td {
  vertical-align: middle;
}

.break-words {
  word-break: break-all;
}

.mb5 {
  margin-bottom: 5px;
}

.mr30 {
  margin-right: 30px
}

.mr15 {
  margin-right: 15px
}

.text-color-grey{
  color: grey;
}

.hidden {
  display: none;
}

/* JScrollPane settings */
.jspVerticalBar {
  width: 8px !important;
  background: white !important;
}

.jspTrack {
  width: 8px !important;
  background: #ededed !important;
}

.jspDrag {
  border-radius: 10px;
  width: 8px !important;
  background: #ccc !important;
}

@media (max-width: 1035px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

  .navbar-nav>li:first-child {
    padding-left: 20px;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

/* Semantic UI fixes */
.ui.buttons .or:before {
  content: "чи" !important;
}