/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require bootstrap3-editable/bootstrap-editable
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-wysihtml5/b3
 *= require jstree-themes/default/style
 *= require_tree .
 *= require jscrollpane
 */

@import "bootstrap";
@import 'bootstrap-datetimepicker';

body {
  padding-top: 10px;
}

.sign-in-form {
  width: 350px;
  margin: 0 auto;
}

.log-out-link {
  padding-right: 9px;
}

.panel-narrow {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.table-verticle-centered > tbody > tr > td {
  vertical-align: middle;
}

.break-words {
  word-break: break-all;
}

.mb5 {
  margin-bottom: 5px;
}

.mr30 {
  margin-right: 30px
}

.text-color-grey{
  color: grey;
}

/* JScrollPane settings */
.jspVerticalBar {
  width: 8px !important;
  background: white !important;
}
.jspTrack {
  width: 8px !important;
  background: #ededed !important;
}
.jspDrag {
  border-radius: 10px;
  width: 8px !important;
  background: #ccc !important;
}
