/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */

@import "bootstrap";
@import 'bootstrap-datetimepicker';

body {
  padding-top: 10px;
}

.sign-in-form {
  width: 350px;
  margin: 0 auto;
}

.log-out-link {
  padding-right: 9px;
}

.panel-narrow {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.table-verticle-centered > tbody > tr > td {
  vertical-align: middle;
}

.break-words {
  word-break: break-all;
}

.width85{
  width: 85%;
}

.text-color-grey{
  color: grey;
}
