$calendar_width: 50%;

.calendar {
  border: 1px solid #428bca;
  border-collapse: collapse;
  display: inline-block;
  -webkit-user-select: none;

  th{
    font-family: inherit;
	  font-weight: 500;
    font-size: 16px;
    padding: 6px;
    border: 1px solid white;
    width: 14.285714286%;
    background: #428bca;
    color: #fff;
    text-align: center;
    height: 40px;  
  }

  td {
    background: inherit;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
    height: 80px;
    &.notmonth { background-color: rgb(245,245,245); }
    &.today { background-color: #D7F2FF; }
    &.past { color: #CCC; }
    .cell{
      width: 100%;
      height: 100%;
      padding: 1rem;
      &.selected{
        background: #f89406 !important; 
      }
      ul {
        font-size: 11px;
        padding-left: 0;
        height: 32px;
        overflow: hidden;
        li{
          display: inline;
        }
      }
    }
  }
}

#month, #day {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  width: 100%;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #428bca;
  }
}

