/* changes for standart chosen.css
   chosen-container chosen-container-multi */
.chosen-container {
  display: inline-flex !important;
  font-size: 14px !important;
  margin: 0;
  margin-bottom: 10px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 100% !important;
  margin: 0;
  line-height: 0 !important;
}

.chosen-choices {
  background: #ffffff none repeat scroll 0 0;
  background-image: none !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  border-radius: 0.285714rem;
  box-shadow: 0 0 0 0 transparent inset !important;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 1em;
  line-height: 1.2142em;
  margin: 0;
  outline: medium none;
  padding: 0.678614em 1em !important;
  transition: color 0.1s ease 0s, border-color 0.1s ease 0s;
}

.chosen-choices .search-choice {
  margin-left: 3px !important;
}

.chosen-container-active .chosen-choices {
  background: #ffffff none repeat scroll 0 0;
  border-color: #85b7d9 !important;
  border-radius: 0.285714rem 0.285714rem 0 0;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
  color: rgba(0, 0, 0, 0.95);
}

.chosen-container .chosen-results {
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
}

.chosen-single {
  width: 100%;
}