.contacts-list {
  .contacts-list-item {
    padding: 15px 35px 10px;
  }

  .contact-avatar {
    margin: 5px 25px 0 0;
  }

  .contact-fullname {
    font-weight: bold;
    line-height: 70px;
  }
}
