.bootstrap-datetimepicker-widget.top:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    bottom: -7px;
    content: "";
    display: inline-block;
    left: 6px;
    position: absolute;
}

*:before, *:after {
    box-sizing: border-box;
}

.bootstrap-datetimepicker-widget.top:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    bottom: -6px;
    content: "";
    display: inline-block;
    left: 7px;
    position: absolute;
}

.bootstrap-datetimepicker-widget {
    border-radius: 4px;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
    width: 250px;
    z-index: 99999 !important;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.bootstrap-datetimepicker-widget > ul {
    list-style-type: none;
    margin: 0;
}

.list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}

.bootstrap-datetimepicker-widget table {
    margin: 0;
    width: 100%;
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
    font-size: 21px;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}

.bootstrap-datetimepicker-widget th {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    border-radius: 4px;
    height: 20px;
    text-align: center;
    width: 20px;
}

.bootstrap-datetimepicker-widget th.picker-switch {
    width: 145px;
}

.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
    color: #777;
}

.bootstrap-datetimepicker-widget td.day {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.bootstrap-datetimepicker-widget .datepicker > div {
    display: none;
}

.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
    color: #999999;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}

.bootstrap-datetimepicker-widget td {
    height: 54px;
    line-height: 54px;
    width: 54px;
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    border-radius: 4px;
    text-align: center;
}

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, 
.bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget td span:hover {
    background: none repeat scroll #eee;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget td span {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    width: 54px;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td span.active, .bootstrap-datetimepicker-widget td span.active:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}