.date.input .ui.popup {
    z-index: 9999;
}

.date.input table {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.date.input table {
    margin: 0;
    width: 100%;
}

.date.input thead tr:first-child th {
    cursor: pointer;
}

.date.input th i {
    margin: 0;
}

.date.input th.next, .date.input th.prev {
    font-size: 21px;
}

.date.input th {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.date.input td, .date.input th {
    border-radius: 4px;
    height: 20px;
    text-align: center;
    width: 20px;
}

.date.input th.picker-switch {
    width: 145px;
}

.date.input td.past, .date.input td.future {
    color: #777;
}

.date.input td.day {
    height: 20px;
    line-height: 20px;
    padding: 10px;
    width: 20px;
}

.date.input .date.input > div {
    display: none;
}

.date.input td.past, .date.input td.future {
    color: #999999
}

.date.input td {
    height: 54px;
    line-height: 54px;
    width: 54px;
}
.date.input td, .date.input th {
    border-radius: 4px;
    text-align: center;
}

.date.input td.day:hover, .date.input td.hour:hover, 
.date.input td.minute:hover, .date.input td.second:hover, 
.date.input th:hover {
    background: none repeat scroll #eee;
    cursor: pointer;
}

.date.input td span {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    width: 54px;
}

.date.input td.active, .date.input td.active:hover,
.date.input td span.active, .date.input td span.active:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.date.input td.present::before {
    border-bottom: 7px solid #428bca;
    border-left: 7px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.2);
    bottom: 4px;
    content: "";
    display: inline-block;
    position: absolute;
    right: 4px;
}

.date.input table tr td.present, .date.input table tr td.present:hover, 
.date.input table tr td.present.disabled, .date.input table tr td.present.disabled:hover {
    background-color: #fde19a;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #000;
    position: relative;
}

.date.input table tr td.active, .date.input table tr td.active:hover, 
.date.input table tr td.active.disabled, .date.input table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.date.input tfoot th, .date.input table.timepicker th {
    color: #006dcc;
}

.date.input .popup {
    max-width: none !important;
}

.date.input table.timepicker {
    width: 252px;
}

.date.input table.timepicker tbody th {
    font-size: 3em;
    line-height: 1em;
}

.date.input table.timepicker td {
    font-size: 1.25em;
}
