.docs-panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
}
.docs-panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.hiddenRow {
    padding: 0 !important;
}

.docs-title {
    height: 40px;
}

.docs-title td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.docs-navbar-tool {
    display: none;
}

.docs-info-collapse {
    padding: 15px 15px 15px 15px;
}

.docs-up-folder-btn {
    float: right;
}

.button_to,
.button_to div {
    display: inline;
}

.doc-tags-desc-input {
    width: 400px;
}

.red {
    color: red;
}

.doc-info-list {
    margin-right: 20px;
    float: left;
}