.docs-panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
}
.docs-panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.hiddenRow {
    padding: 0 !important;
}

.docs-title {
    height: 40px;
}

.docs-title td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.docs-navbar-tool {
    display: none;
}

.docs-info-collapse {
    padding: 15px 15px 15px 15px;
}

.docs-up-folder-btn {
    float: right;
}

.button_to,
.button_to div {
    display: inline;
}

.red {
    color: red;
}

div.doc-info-list {
    margin-right: 20px;
    float: left;
}

div.doc-info-list-content {
    margin-top: 0.4em;
}

input.form-control.doc-title-input {
    width: 100%;
}

input.form-control.doc-tags-input {
    width: 100%;
}

textarea.form-control.doc-desc-input {
    width: 100%;
}

div.doc-info-buttons {
    float: left;
    clear: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.select2-container-multi .select2-choices {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #CCCCCC;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.select2-container-multi.select2-dropdown-open .select2-choices {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}