.dialogs > thead > tr > th,
.dialogs > tbody > tr > td,
.tasks > thead > tr > th,
.tasks > tbody > tr > td {
  cursor: default;
}

.dialogs > tbody > tr:hover > td,
.tasks > tbody > tr:hover > td {
  cursor: pointer;
}

.message {
  margin-bottom: 5px;
  padding: 8px 20px 4px 20px;
  position: relative;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
}

.um {
  margin: 0 3px 3px 0;
  background-color: #FE2F2F;
  vertical-align: super;
  font-size: 10px
}

.dialog-box {
  height: 100px !important;
  margin: 20px 0 5px 0;
  padding: 5px 5px 5px 8px;
  resize: none;
  width: 100%;
}

.dialog-box:focus {
  outline: none;
}

.avatar-message-size {
  height: 36px;
  margin: 0 8px 0 0;
  width: 36px;
}

.message-send {
  padding: 0 50px;
}

.no-conversations {
  padding-top: 15px;
}

.conversation {
  height: 300px;
  padding: 0 50px;
  overflow-y: auto;
}
