div#docSearchResults {
  max-height: 200px !important;
  overflow: auto !important;
}

div#docSearchResults div.item {
  min-height: 150px;
  max-width: 250px;
}

div.extended-doc {
  min-height: 120px !important;
  max-width: 415px !important;
  width: 415px !important;
}

div.extended-doc .bottom.attached.label {
  text-align: center;
}

#pinnedDocs {
  margin-bottom: 10px;
}

#pinnedDocs .ui.label {
  margin: 0;
  margin-right: 0.25em;
}