.item {
	margin-bottom: 7px;
}

.text-white {
	color: white;
}

a.text-white {
	cursor: pointer;
	color: white;
}

.no-margins {
	margin: 0;
}

.margin-btm10 {
	margin-bottom: 10px
}

.no-paddings {
	padding: 0;
}

.no-styling-btn {
	background: transparent;
	border: 0;
	outline: none;
}

.no-outline-btn {
	outline: none;
}

.no-resize {
	resize: none;
}

.top-paddings-fix {
	padding: 5px 0 5px 0;
}

.searchclear {
    position: absolute;
    right: 22px;
    top: 29px;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.clear-date {
	right: 7px;
	top: 10px;
	z-index: 10;
}

.clear-date.first {
	right: 53%;
}

.col-12-percent {
	width: 12%;
}

.col-10-percent {
	width: 10%;
}


/* Comments */
#comments .popover {
	position: relative;
	max-width: 410px;
	width: 100%;
	display: block;
	margin: 15px 15px 15px 80px;
}

#comments .popover time {
	margin-top: -9px;
}

#comments img {
	margin-top: 11px;
}

.clear-comment {
	top: 10px;
	right: 10px;
	margin: 0;
	height: 16px;
}

.clear-comment:hover {
	color: #999;
}

.new-comment {
	resize: none;
}

.comments-form {
	height: 400px;
	margin: 0 auto;
	overflow: auto;
	outline: 0;
	width: 100%;
}

.task-info-area {
	width: 49%;
}

.comments-area {
	width: 49%;
}

.comments-title {
	width: 89%;
}

.fix-in-border {
	margin: 1% 0 0 3%;
}

.arrow-fix {
	top: 45px !important;
}

.no-user-select {
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#extSearch:hover {
	cursor: pointer
}
