/*.item {
	margin-bottom: 7px;
}
*/
.text-white {
	color: white;
}

a.text-white {
	cursor: pointer;
	color: white;
}

.margin-btm10 {
	margin-bottom: 10px
}

.no-paddings {
	padding: 0;
}

.no-styling-btn {
	background: transparent;
	border: 0;
	outline: none;
}

.no-outline-btn {
	outline: none;
}

.no-resize {
	resize: none;
}

.top-paddings-fix {
	padding: 5px 0 5px 0;
}

.searchclear {
  position: absolute;
  right: 22px;
  top: 29px;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.clear-date {
	right: 7px;
	top: 10px;
	z-index: 10;
}

.task-info-area {
  width: 49%;
}

.clear-date.first {
	right: 53%;
}

.col-12-percent {
	width: 12%;
}

.col-10-percent {
	width: 10%;
}

.progress-bar-wrap dd {
	width: 100%;
	max-width: 345px;
}

.fix-in-border {
	margin: 1% 0 0 3%;
}

.arrow-fix {
	top: 45px !important;
}

.no-user-select {
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.input-group input.form-control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card-avatars, .card-subtasks {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

div.subtask {
	margin-bottom: 5px;
}

div.subtask input[type='checkbox'] {
	cursor: pointer;
}

div.ui.progress {
	margin-bottom: 15px;
}

div.ui.progress .bar {
	text-align: right;
}

tr[data-link] {
	cursor: pointer;
}

.task-form, .event-form {
	width: 50%;
}
