// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-admin-users-show-info {
  margin-left: 150px;
}

.c-user-large-avatar {
  width: 215px;
  height: 215px;
  vertical-align: middle;
}

.c-user-medium-avatar {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

.c-user-small-avatar {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
  vertical-align: middle;
}

.c-admin-users-avatar-column {
  width: 55px;
}

.c-admin-users-actions-column {
  width: 125px;
}

.c-user-info-block {
  width: 340px;
}
.uprofile{
    position: relative;
    max-width:865px;
    margin:0 auto;
}
