// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-admin-users-show-info {
  margin-left: 150px;
}

.c-user-large-avatar {
  width: 215px;
  height: 215px;
}

.c-user-medium-avatar {
  width: 64px;
  height: 64px;
}

.c-user-small-avatar {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}

.c-admin-users-avatar-column {
  width: 55px;
}

.c-admin-users-actions-column {
  width: 115px;
}

.c-user-info-block {
  width: 340px;
}

.checkbox{
  margin-right: 20px;
  label{
    padding-left: 22px !important;
  }
}

.item{
  margin-bottom: 0;
}

.ui.action.input{
  width: 100%;
  .dropdown{
    width: 173px;
    .icon{
      float: right;
    }
  }
  #searchBtn{
    width: 170px;
    .icon{
      margin-right: 15px;
    }
  }
}

.destroy{
  color: white;
  text-decoration: none;
}
