<div class="ui piled feed segment">
  <h2 class="ui header">
    <%= t('activity.recent') %>
  </h2>
	<% if @activities.present? %>
    <%= render_activities(@activities) %>
  <% else %>
    <div class='text-center no-activity-found'><%= t('activity.no_activity_found') %></div>
  <% end %>
</div>