<div class="ui two column grid task container">
	<div class="column">
	  <%= render 'info' %>
	</div>

	<div class='column'>
		<% @reminder_tasks.uniq.each { |task| %>
			<%= render partial: 'notifications/reminder', locals: { item: task, link: 'task_path' } %>
		<% } %>
		<% @reminder_events.uniq.each { |event| %>
			<%= render partial: 'notifications/reminder', locals: { item: event, link: 'event_path' } %>
		<% } %>
		<%= render 'application/panel_activity' %>
	</div>
</div>